<div class="header_background">
    <div class="nav_col_left">
        <nav>
            <ul>
                <li><a class="nav_header" href="http://www.wikipedia.org">Disclaimer: This non-commercial site is under contruction!</a></li>            
                <li><a class="nav_header" href="goals">Design</a></li>            
                <li><a class="nav_header" href="org">Next one?</a></li>            
            </ul>    
        </nav>
    </div>
    <div class="nav_col_right">
        <nav>
            <ul>
                <li><a class="nav_header" href="#">Contact</a></li>            
                <li><a class="nav_header" href="#">About</a></li>            
            </ul>    
        </nav>
    </div>
</div>

