<div class="header_background">
    <div class="nav_col_left">
        <nav>
            <ul>
                <li><a class="nav_header" href="http://www.waldorfschule-mannheim.de/deutsch/eltern/elmi/index.html">ELMI Seite der Schule</a></li>            
                <li><a class="nav_header" href="goals">Ziele</a></li>            
                <li><a class="nav_header" href="org">Organisatorisches</a></li>            
            </ul>    
        </nav>
    </div>
    <div class="nav_col_right">
        <nav>
            <ul>
                <li><a class="nav_header" href="#">Contact</a></li>            
                <li><a class="nav_header" href="#">About</a></li>            
            </ul>    
        </nav>
    </div>
</div>

