<div class="header_background">
    <div class="nav_col_left">
        <nav>
            <ul>
                <li><a class="nav_header" href="http://www.wikipedia.org">Background</a></li>            
                <li><a class="nav_header" href="goals">What-can-I-do?</a></li>            
                <li><a class="nav_header" href="org">What-should-I-do?</a></li>            
            </ul>    
        </nav>
    </div>
    <div class="nav_col_right">
        <nav>
            <ul>
                <li><a class="nav_header" href="#">Contact</a></li>            
                <li><a class="nav_header" href="#">About</a></li>            
            </ul>    
        </nav>
    </div>
</div>

