<div class="chapter">

    <h4 class="chapter"><a href="../" class="chapter">Home</a></h4>
    
    <h4 class="chapter">Organization</h4>
    
    <li class="chapter"><a href="../scope" class="chapter">Scope</a></li>
        <li class="chapter"><a href="../structure" class="chapter">Structure</a></li>
    
    <h4 class="chapter">Content</h4>
        <p class="chapter">
            <li class="chapter"><a href="../revenues" class="chapter">Chapter11</a></li>
            <li class="chapter"><a href="../costs" class="chapter">Chapter12</a></li>
            <li class="chapter"><a href="../profits" class="chapter">Chapter13</a></li>
        </p>
        <p class="chapter">
            <li class="chapter"><a href="../demands" class="chapter">Chapter21</a></li>
            <li class="chapter"><a href="../offerings" class="chapter">Chapter22</a></li>
            <li class="chapter"><a href="../gaps" class="chapter">Chapter23</a></li>
        </p>
        <p class="chapter">
            <li class="chapter"><a href="../setups" class="chapter">Chapter31</a></li>
            <li class="chapter"><a href="../operations" class="chapter">Chapter32</a></li>
            <li class="chapter"><a href="../optimizations" class="chapter">Chapter33</a></li>
        </p>
    
    </div>
    