<div class="member_background">
  <div class="nav_col_left">
      <nav>
          <ul>
            <div class="row">
                <div class="col-md-3">
                    <menu>
                          <!-- <a href="http://www.waldorfschule-mannheim.de/deutsch/eltern/elmi/index.html">ELMI</a> -->
                          <figure class="masefigure" width="400px">
                                <img src="../elmi/assets/layoutimages/logo-eltern.png"
                                alt="{{ include.imagePath }}"
                                class="maseimage">
                                <!-- <figcaption class="masefigcaption">{{ include.caption }}</figcaption> -->
                            </figure>
                    </menu>
                </div>

            </div>           
          </ul>    
      </nav>
  </div>
  <div class="nav_col_right">
      <nav>
          <ul>
         

            <form id="registration-form" method="POST" action="#">                    
                <span class="form-group">
                    <span class="label-login">
                        <label for="exampleInputEmail1">Email</label>
                    </span>
                    <input type="email" class="form-control" id="newemail" aria-describedby="emailHelp" placeholder="Enter email">
                </span>
                <span class="form-group">
                    <span class="label-login">
                        <label for="exampleInputPassword1">Password</label>
                    </span>
                    <input type="password" class="form-control" id="newpassword" placeholder="Enter Password">
                </span>
                <button type="submit" class="btn button-login" value="Submit Button">Submit</button>

            </form>              

            <li><a class="nav_member" href="{{ site.baseUrl }}member/password.html">Password</a></li> 
            <li><a class="nav_member" href="#">Register</a></li>   

          </ul>    
      </nav>
  </div>
</div>
<script>
    bootstrapValidate('#newemail', 'max:40: Your Email must not be longer than 40 characters');
    bootstrapValidate('#newpasswoCrd', 'max:40: Your password must not be longer than 40 characters');
    bootstrapValidate('#newpassword', 'min:8: Your password must not be shorter than 8 characters');
</script>
<script>
    var form = document.getElementById('registration-form');
    form.onsubmit = function(e) {
        e.preventDefault();
        var email = form.newemail.value;
        var password = form.newpassword.value;
        console.log(email, password);
        // sendData(email, password)
        this.reset();
        if(password == 'asdf') {
            window.location.replace("3da541559918a808c2402bba5012f6c60b27661c/me_index.html");
        } else {
            window.location.replace("index.html");
        }
    }


    // function sendData(email, password) {
    //     var xmlhttp = new XMLHttpRequest();
    //     var theUrl = "http://localhost:5000/createuser";
    //     xmlhttp.open("POST", theUrl, true);    
    //     xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");    
    //     sendLoad = JSON.stringify({"email" : email, "name"  : "NickName", "password" : password});
    //     xmlhttp.send(sendLoad);
    // }      
</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


