
<div class="row">
    <div class="col-md-3">
        <menu>
            ECL
        </menu>
    </div>
    <div class="col-md-6">
        <menu>
            <a href="insights"Insights>Insights</a>
            Recipes    Stories
        </menu>
    </div>
    <div class="col-md-3">
        <menu>
            Menu
        </menu>
    </div>        
</div>


<supertitle>
        Informed by the best experts, we help you to
</supertitle>

<titlehome>
    lead better, easier
</titlehome>    

<div class="row">
    <div class="col-md-12">
        <title>
            lead better, easier
        </title>
    </div>
</div>

<!-- Buttons -->
<div class="row">
    <div class="col-md-6">
        <menu>
            <a href="insights"Insights>Leadership Lessons</a>
        </menu>
        <button-text>
            Learn how to transform yourself
        </button-text>
    </div>
    <div class="col-md-63">
        <menu>
            <a href="insights"Insights>Leadership Project</a>
        </menu>
    </div>        
</div>
<div class="first_home_section">
    <div class="first_home_section_figure">
        {% include firstimageinclude.html imagePath = "sapkuberneteslinkedin.JPG" %}
        <!-- <img class="home_section_figure" src="{{ site.baseUrl }}assets/images/sapkuberneteslinkedin.JPG">         -->
    </div>
    <div class="first_home_section_body">
        <p class="first_super">
            Kubernetes at SAP
        </p>
        <p class="first_headline">
            SAP Kubernetes Summit 2019
            </p>
        <p class="first_teasertext">
            In July 2019, for three days the status of Kubernetes at SAP was demonstrated.
              ... |&nbsp;<strong>more</strong>
        </p>
    </div>
</div>

<div class="home_section">
    <div class="home_section_figure">
        {% include imageinclude.html imagePath = "sapkuberneteslinkedin.JPG" %}
    </div>
    <div class="home_section_body">
        <p class="super">
            Google, Microsoft, Amazon, ..
        </p>
        <p class="headline">
                SAP and Partners 
            </p>
        <p class="teasertext">
            There is big interest in the ecosystem ... |&nbsp;<strong>more</strong>
        </p>
    </div>

</div>