<div class="home_section">
    <div class="home_section_figure">
        {% include imageinclude.html imagePath = "Samoan_tatau_-_tattooing_circa_1895_-_photo_Thomas_Andrew.jpg" %}
    </div>
    <div class="home_section_body">
        <p class="super">
            It was everywhere
        </p>
        <p class="headline">
                History of Tattoos
            </p>
        <p class="teasertext">
            The long history of tattoo ... |&nbsp;<strong>more</strong>
        </p>
    </div>

</div>