
:root { 
    --margin_xs:    8px!important;
    --margin_s:   16px!important;
    --margin_m:     32px!important;
    --margin_l:     64px!important;
    --margin_l_neg: -60px!important;
  
    --blue100: #051243!important;
    --blue90: #061f80!important;
    --blue80: #0530ad!important;
    --blue70: #054ada!important;
    --blue60: #0062ff!important;
    --blue50: #408bfc!important;
    --blue40: #6ea6ff!important;
    --blue30: #97c1ff!important;
    --blue20: #c9deff!important;
    --blue10: #edf4ff!important;
  }
  
  body {
      height:       100%;
      font-size:    100%;
      line-height: 1.62em;
    }
    
  background {
    display: block;
    background: red;
    background: linear-gradient(red, yellow lin);
    background: url(../layoutimages/frbackground.JPG);
    background: linear-gradient( var(--blue30), var(--blue90));
    height:     100%;
  }
  
  menu {
    display: block;
    margin-top: var(--margin_l);
    margin-top: 40px;
    color:var(--blue10);
    font: 600 1.3rem "Arial";
  
    text-align: center;
  }
  
  supertitle {
    display: block;
    margin-top: var(--margin_m);
    color:var(--blue20);
    font: 400 1.9rem "Arial";
    
    text-align: center;
  }
  
  titlehome  {
      /* Box Model */
      display: block;    
      margin-top: var(--margin_m);
      margin-bottom: var(--margin_m);
      margin-left:var(--margin_l_neg);
      margin-right:var(--margin_l_neg);
  
      /* Color */
      color:var(--blue10);
      opacity: 0.99;
      
      /* Text */
      font: 800 4.0rem "Helvetia";
      text-align: center;
  }
  
  
  /* Links - Start */
  a { 
    color:            var(--blue10);
    text-align: left;
    text-decoration: underline;
  }
  
  a:visited {
    color:           var(--blue90);
    text-decoration: underline;
  }
  
  a:hover {
    color:            var(--blue90);
    background-color: var(--blue20); 
    text-decoration:none;
    /* text-shadow: 0 0 2px #999; */
  }
  
  a:active {
    color:var(--blue100);
    background-color: var(--blue20); 
    background-color: var(--blue100); 
  }
  /* Links - End */
  
  button-text {
    display: block;
    margin-top: var(--margin_l);
    margin-top: 40px;
    padding-bottom: 200px;
    color:var(--blue10);
    font: 200 1.0rem "Arial";
  
    background: black;
    opacity: 0.5;
  
    text-align: center;
  }

  .imgmase {
    width:auto; 
    height:300px; 
    width: 50%;    
    opacity: 0.99;
    border-radius: 1%;
    border-radius: 8px;
    box-shadow: 10px 10px grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
  } 