@import '../utils/colors.css';

.footer-column-layout {
  display: flex;
  justify-content: space-between;
  margin: 16px auto 16px auto;  

  font-size: 10px;
  text-align: left;
  line-height: 1.65;
  }
  
  .footer-column {
    flex-basis: 12%;
    /* box-sizing: border-box;     */
    /* order: 1; */
  }

  h3.footer {
    font-size: 14px;
    color: black
  }

  ul.footer {
    color: whitesmoke;
  }
 li.footer {
    color: whitesmoke;
  }

  a.footer {
    text-align: left;
    font-size: 10px;
    font-weight: 100;
    color: black;
  }
  
  a.footer:hover {
    text-decoration: underline;
  }    
