
/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

 @import '../utils/colors.css';


/* :root { 
  --blue10: #edf4ff!important;
  --blue20: #c9deff!important;
  --blue30: #97c1ff!important;
  --blue40: #6ea6ff!important;
  --blue50: #408bfc!important;
  --blue60: #0062ff!important;
  --blue70: #054ada!important;
  --blue80: #0530ad!important;
  --blue90: #061f80!important;
  --blue100: #051243!important;
  --prussianblue: #113265!important;
  } */


* {
    margin: 0;
    padding: 0;
}  
 
.HolyGrail {
    display: flex;
    flex-direction: column;
    height: 100%; /* 1, 3 */
    /* height: 100vh; */
    min-height: 100vh;
    max-width: 2600px;    
    background-color: var(--prussianblue);
    background-image: url(../../layoutimages/blueskywithclouds.jpeg);
    background-image: url(../../layoutimages/enwikipedia_Thai_tattoo_Chiang_Mai_2005_058_red.jpg);
    background-size: cover;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.HolyGrail_header {
    position: sticky;
    flex: 0 0 10px;
    display: flex;

    padding: 10px 0 0 0; 
    /* background-color: var(--blue100);
    background-color: var(--prussianblue); */
    background-color: var(--skin50);
    border-bottom: 1px solid var(--blue10);
}

.HolyGrail_member {
    position: sticky;
    flex: 0 0 10px;
    display: flex;

    margin: 20px 0 0 0;     
}

.HolyGrail_middle {
    flex: 1;
    display: flex;
    margin: 30px;
}

.HolyGrail_footer {
  flex: 0 0 100px;
  display: flex;
  /* background-color: var(--prussianblue); */
  background-color: var(--skin50);
  color: whitesmoke;
}

.HolyGrail_final {
  flex: 0 0 20px;
  display: flex;
  background-color:black ;
  color: whitesmoke;
}

.column_center {
  flex: 0 0 64%;
  order: 0;
}

.column_left {
  flex: 0 0 18%;
  order: -1;
  background-color: var(--blue20);
  opacity: 0.0;
}

.column_right {
  flex: 0 0 18%;
  order: 1;
  opacity: 0.0;
}