@import '../utils/colors.css';

.first_home_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  /* margin: 50px auto 20px auto; */
  background: linear-gradient(rgb(255, 245, 245) 70%, #edeeee );
  background: linear-gradient(rgb(255, 245, 245) 70%, rgb(218, 218, 218) );  
}

.first_home_section_figure {
  flex: 0 0 300px; 
  margin: 4px 4px 8px 4px;
  text-align: center;
}

.first_home_section_body {
  flex: 0 0 150px ;

  margin: 2px 4px 4px 8px; 
  color: black;
}
.first_super {
  margin: 0.2em 0em .3em 0em;
  font-size: 14px;
  font-weight: 400;
}  
.first_headline {
  margin: 0 5em .5em 0em;
  font-size: 22px;
  font-weight: 900;
} 
.first_teasertext {
  margin: 0 20em 1.5em 0em;
  /* padding-bottom: 10em; */
  line-height: 1.5em;
  font-size: 16px;
  font-weight: 200;
}  

  .home_section {
    display: flex;
    align-items: flex-start;
    height: 200px;

    margin: 8px auto 8px auto;
    background: linear-gradient(rgb(255, 245, 245) 70%, #edeeee );
    background: linear-gradient(rgb(255, 245, 245) 60%, rgb(218, 218, 218) );
  }
  
  .home_section_figure {
    flex: 1 1 300px;
    margin: 4px 4px 8px 4px;
  }
  
  .home_section_body {
    flex: 1;
    flex: 1 1 1000px; 
    margin: 2px 4px 4px 8px; 
    color: black;
  }

  .super {
    margin: 0.2em 0 .3em;
    font-size: 14px;
    font-weight: 400;
  }  
  .headline {
    margin: 0 0 .3em;
    font-size: 20px;
    font-weight: 900;
  }  
  .teasertext {
    margin: 0 0 .5em;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: 200;
  }  
 
  