<div class="login_container">

    <div class="login_logo">
        Logo
    </div>

    <div class="login_form_container">
        <div class="form_email">
            <button class="loginbutton" onclick="window.location.href='{{ site.baseUrl }}../9a0764b2ecd7c88d4e59fdad3580dcfd96914b29/profile'">My Profile</button>
        </div>
    </div>

    <div class="login_register">
        <button class="loginbutton" onclick="window.location.href='{{ site.baseUrl }}../index'">Logout</button>
    </div>
</div>