<a href="{{ site.baseurl }}/9a0764b2ecd7c88d4e59fdad3580dcfd96914b29/myprivatearticle/" class="home_section">
    <div class="home_section_figure">
        {% include images/imageincludeprivate.html imagePath = "todo.JPG" %}
    </div>
    <div class="home_section_body">
        <p class="super">
            Teaser text - super
        </p>
        <p class="headline">
            Value Proposition
        </p>
        <p class="teasertext">
            We provides additional value on its own. | <strong>more</strong>
        </p>
    </div>

</a>