<div class="footer-column-layout">

  <div class="footer-column">
    <a class="footer" href="#">
      <h3 class="footer">Expert info</h3>
      </h3>
    </a>
    <p><a class="footer" href="{{ site.baseUrl }}expertinfo/">Expert Info</a></p>
    <p><a class="footer" href="#">Contracts/Legal</a></p>
  </div>


  <div class="footer-column">
    <a class="footer" href="#">
      <h3 class="footer">Get Started</h3>
    </a>
    <p><a class="footer" href="{{ site.baseUrl }}getstarted/">Get Started</a></p>
  </div>

  <div class="footer-column">
    <a class="footer" href="#">
      <h3 class="footer">Get Most Out Of It</h3>
      </h3>
    </a>
    <p><a class="footer" href="#">Blueprints</a></p>
    <p><a class="footer" href="#">Availability</a></p>
  </div>

  <div class="footer-column">
    <a class="footer" href="#">
      <h3 class="footer">Troubleshooting</h3>
      </h3>
    </a>
    <p><a class="footer" href="#">Monitoring</a></p>
    <p><a class="footer" href="#">Interaction</a></p>
  </div>

</div>  