<div class="footer-column-layout">

  <div class="footer-column">
      <a class="footer" href="#"><h3 class="footer">Footer 1</h3></h3></a>
      <p><a class="footer" href="#">Link 1</a></p>
      <p><a class="footer" href="#">Link 2</a></p>
      <p><a class="footer" href="#">Link 3</a></p>
      <p><a class="footer" href="#">Link 4</a></p>
  </div>

  <div class="footer-column">
      <a class="footer" href="#"><h3 class="footer">Footer 2</h3></h3></a>
      <p><a class="footer" href="#">Link 1</a></p>
      <p><a class="footer" href="#">Link 2</a></p>
      <p><a class="footer" href="#">Link 3</a></p>
  </div>
  
  <div class="footer-column">
      <a class="footer" href="#"><h3 class="footer">Footer 3</h3></h3></a>
      <p><a class="footer" href="#">Link 1</a></p>
      <p><a class="footer" href="#">Link 2</a></p>
      <p><a class="footer" href="#">Link 3</a></p>

  </div>
  
  <div class="footer-column">
      <a class="footer" href="#"><h3 class="footer">Footer 4</h3></h3></a>
    <p><a class="footer" href="#">Link 1</a></p>
    <p><a class="footer" href="#">Link 2</a></p>
    <p><a class="footer" href="#">Link 3</a></p>
  </div>

</div>  