<!DOCTYPE html>
<html lang="en">
{% include head.html %}    
<body class="HolyGrail">

<header class="HolyGrail_header">
    <div class="column_center">
        {% include header.html %}                
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</header>

<div class="HolyGrail_member">
    <div class="column_center">
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</div>

<main class="HolyGrail_middle">
    <div class="column_center">
        {% include middle.html %}    
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</main>

<footer class="HolyGrail_footer">
    <div class="column_center">
        {% include footer.html %}
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</footer>

<div class="HolyGrail_final">
    <div class="column_center">
        {% include final.html %}
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</div>

</body>
</html>
