<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/layoutimages/k8sfavicon.png">
    
    <link href="{{site.baseurl}}/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/home.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/cards.css" rel="stylesheet">

    <title>{{ page.title }}</title>
</head>
<body>

<background>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <menu>
                Tatmars
            </menu>
        </div>
        <div class="col-md-6">
            <menu>
                <a href="scope">Scope</a>
                <a href="structure">Structure</a>
            </menu>
        </div>
        <div class="col-md-3">
            <menu>
                Menu
            </menu>
        </div>        
    </div>

    <supertitle>
           Welcome 
    </supertitle>

    <titlehome>
        Tattoo Mars
    </titlehome>    

    <!-- Row 1 -->  
    <div class="card-deck">
        <!-- Card 1-1 -->  
        <div class="card mb-auto"">
            <div class="card-header">
                <p class="card-title">Card 1-1</p>
            </div>                    
            <div class="card-body">
                <p class="card-text">Card 1-1</p>
            </div>
            <div class="card-footer">
                <a href="revenues" class="card_button">Card 1-1</a>
            </div>
        </div>

       <!-- Col 2 -->  
        <div class="card">
            <!-- Card 1-2 -->              
            <div class="card-header">
                <p class="card-title">Card 1-2</p>
            </div>                    
            <div class="card-body">
                <p class="card-text">Card 1-2</p>
            </div>
            <div class="card-footer">
                <a href="costs" class="card_button">Card 1-2</a>
            </div>
        </div>
        <!-- Card 1-3 -->   
        <div class="card">
            <div class="card-header">
                <p class="card-title">Card 1-3</p>
            </div>                    
            <div class="card-body">
                <p class="card-text">Card 1-3</p>
            </div>
            <div class="card-footer">
                <a href="profit" class="card_button">Card 1-3</a>
            </div>
        </div>
    </div>         
    
    <!-- Row 2 -->    
    <div class="card-deck">
        <!-- Card 2-1 -->  
        <div class="card">
            <div class="card-header">
                <p class="card-title">Card21</p>
            </div>                    
            <div class="card-body">
                <p class="card-text">Card21</p>
            </div>
            <div class="card-footer">
                <a href="demands" class="card_button">Card21</a>
            </div>
        </div>
        <!-- Card 2-2 -->  
        <div class="card">
            <div class="card-header">
                <p class="card-title">Card22</p>
            </div>                    
            <div class="card-body">
                <p class="card-text">Card22</p>
            </div>
            <div class="card-footer">
                <a href="offering" class="card_button">Card22</a>
            </div>
        </div>
        <!-- Card 2-3 -->  
        <div class="card">
            <div class="card-header">
                <p class="card-title">Card23</p>
            </div>                    
            <div class="card-body">
                <p class="card-text">Card23</p>
            </div>
            <div class="card-footer">
                <a href="gaps" class="card_button">Card23</a>
            </div>
        </div>
    </div>                       
    
    <!-- Row 3 -->    
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <p class="card-title">Card31</p>
            </div>                    
            <div class="card-body">
                <p class="card-text">Card31</p>
            </div>
            <div class="card-footer">
                <a href="revenue" class="card_button">Card31</a>
            </div>
        </div>
    <!-- Col 2 -->  
        <div class="card">
            <div class="card-header">
                <p class="card-title">Card32</p>
            </div>                    
            <div class="card-body">
                <p class="card-text">Card32</p>
            </div>
            <div class="card-footer">
                <a href="costs" class="card_button">Card32</a>
            </div>
        </div>
    <!-- Col 3 -->  
        <div class="card">
            <div class="card-header">
                <p class="card-title">Card33</p>
            </div>                    
            <div class="card-body">
                <p class="card-text">Card33</p>
            </div>
            <div class="card-footer">
                <a href="profit" class="card_button">Card33</a>
            </div>
        </div>
    </div>                       

    </div>
</div>

</background>  
{{ content }}
</body>
</html>