<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/layoutimages/k8sfavicon.png">

    <link href="{{site.baseurl}}/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/level1.css" rel="stylesheet">
    
    <title>{{ page.title }}</title>
    <meta name="description" content="{{page.meta}}">

</head>
<body>
<div class="container-fluid">
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    {{ content }}
  </div>
  <div class="col-md-2"></div>
</div>
</div>

</body>
</html>