<!DOCTYPE html>
<html lang="en">
{% include page_private/10_head_page_private.html %}    
<body class="HolyGrail">
<!-- <body class="HolyGrail_private"> -->

<header class="HolyGrail_header">
    <div class="column_center">
        {% include public/20_header.html %}                
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</header>

<main class="HolyGrail_middle_private_page">
    <div class="column_center">
        <div class="HolyGrail_center">
          {{ content }}
        </div>
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</main>

<footer class="HolyGrail_footer">
    <div class="column_center">
        {% include private/70_footer_private.html %}
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</footer>

<div class="HolyGrail_final">
    <div class="column_center">
        {% include public/90_final.html %}
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</div>


</body>
</html>
