<!DOCTYPE html>
<html lang="en">
{% include private/10_head_private.html %}    
<body class="HolyGrail background_private">

<header class="HolyGrail_header">
    <div class="column_center">
        {% include private/20_header_private.html %}                
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</header>

<div class="HolyGrail_login">
    <div class="column_center">
        {% include private/30_loggedin_private.html %}
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</div>

<main class="HolyGrail_middle">
    <div class="column_center">
        {% include private/50_middle_private.html %}    
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</main>

<footer class="HolyGrail_footer">
    <div class="column_center">
        {% include private/70_footer_private.html %}
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</footer>

<div class="HolyGrail_final">
    <div class="column_center">
        {% include private/90_final_private.html %}
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</div>

</body>
</html>
