<!DOCTYPE html>
<html lang="en">
{% include public/10_head.html %}    
<body class="HolyGrail">

<header class="HolyGrail_header">
    <div class="column_center">
        {% include public/20_header.html %}                
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</header>

<div class="HolyGrail_login">
    <div class="column_center">
        {% include public/30_login.html %}
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</div>

<div class="HolyGrail_slogan">
    <div class="column_center">
        {% include public/40_slogan.html %}
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</div>

<main class="HolyGrail_middle">
    <div class="column_center">
        {% include public/50_middle.html %}    
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</main>

<footer class="HolyGrail_footer">
    <div class="column_center">
        {% include public/70_footer.html %}
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</footer>

<div class="HolyGrail_final">
    <div class="column_center">
        {% include public/90_final.html %}
    </div>
    <div class="column_left"></div>
    <div class="column_right"></div> 
</div>

</body>
</html>
