
:root { 
  --blue10: #edf4ff!important;
  --blue20: #c9deff!important;
  --blue30: #97c1ff!important;
  --blue40: #6ea6ff!important;
  --blue50: #408bfc!important;
  --blue60: #0062ff!important;
  --blue70: #054ada!important;
  --blue80: #0530ad!important;
  --blue90: #061f80!important;
  --blue100: #051243!important;
  --prussianblue: #113265!important;

  --skin10: #FFDBAC;
  --skin20: #F1C27D;
  --skin30: #E0AC69;
  --skin40: #C68642;
  --skin50: #8D5524;

  }
